.register .signup-container {
    padding: 0;
}
.register .signup-wrapper {
    background: #fff;
}

.register {
    color: #8b8b8a;
}

.register .pink-color {
    color: #f05983;
}

.register .zero-layout,
.register .zero-layout-input {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}

.register .zero-layout-left,
.register .zero-layout-left-input {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
}

.register .zero-layout-right,
.register .zero-layout-right-input {
    margin-left: 0;
    margin-right: 0;
    padding-right: 0;
}

.register .standard-mb {
    margin-bottom: 2rem;
}

.register .standard-margin {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.register .top-banner {
    margin-top: 1.5rem;
    position: relative;
}

.register .tnc {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 0.9rem;
}

.register .tnc a {
    color: #434951;
}

.register .signup-thumbnail .owl-carousel-thumbnail {
    position: relative;
}

.register .signup-thumbnail .owl-item {
    justify-content: center;
}

.register .signup-thumbnail .owl-carousel-thumbnail .owl-prev,
.register .signup-thumbnail .owl-carousel-thumbnail .owl-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.register .signup-thumbnail .owl-carousel-thumbnail .owl-prev {
    left: 0;
}

.register .signup-thumbnail .owl-carousel-thumbnail .owl-next {
    right: 0;
}

.register .signup-thumbnail .owl-carousel-thumbnail .owl-nav.disabled {
    display: none;
}

.register .signup-thumbnail,
.register .register-form {
    padding: 4rem 0;
}

.register .signup-thumbnail .owl-carousel-thumbnail button {
    background: transparent;
    border: 0;
    color: #f05984;
    font-size: 1.5rem;
}

.register .checkbox input[type="checkbox"],
.register .checkbox-inline input[type="checkbox"],
.register .radio input[type="radio"],
.register .radio-inline input[type="radio"] {
    margin-left: 0;
}

.register input,
.register select {
    background: #f5f5f5;
}

.register .btn-pink {
    position: relative;
    display: inline-block;
    width: 200px;
    padding: 10px;
    margin-bottom: 30px;
    background-color: #f05984;
    border: 1px solid #f05984;
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
}

.register .btn-pink::after {
    position: absolute;
    font-family: "FontAwesome";
    content: "\f054";
    color: #fff;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
}

.register .form-group input[type="checkbox"] {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 10rem;
    display: none;
    cursor: pointer;
}

.register .form-group label {
    position: relative;
}

.register .form-group label.option:before {
    content: "";
    -webkit-appearance: none;
    background-color: transparent;
    border: 2px solid #888887;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    padding: 7px;
    display: inline-block;
    position: absolute;
    left: 0;
    vertical-align: middle;
    cursor: pointer;
}

.register .form-group input:checked + label:after {
    content: "";
    display: block;
    position: absolute;
    top: 2px;
    left: 6px;
    width: 6px;
    height: 12px;
    border: solid #f05984;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

@media (max-width: 678px) {
    .register .signup-thumbnail .owl-carousel-thumbnail .owl-nav.disabled {
        display: block;
    }

    .register .signup-thumbnail .owl-carousel-thumbnail .owl-prev {
        left: 10%;
    }

    .register .signup-thumbnail .owl-carousel-thumbnail .owl-next {
        right: 10%;
    }

    .register .signup-thumbnail,
    .register .register-form {
        padding: 2rem 0;
    }

    .register .standard-mb {
        margin-bottom: 1rem;
    }
}

@media (min-width: 601px) and (max-width: 999px) {
    .register .signup-thumbnail .owl-carousel-thumbnail .owl-nav.disabled {
        display: block;
    }

    .register .signup-thumbnail .owl-carousel-thumbnail .owl-prev {
        left: 20%;
    }

    .register .signup-thumbnail .owl-carousel-thumbnail .owl-next {
        right: 20%;
    }
}

@media (max-width: 767px) {
    .register label.zero-layout,
    .register label.zero-layout-left,
    .register label.zero-layout-right {
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
    }
    
    .register .zero-layout,
    .register .zero-layout-left,
    .register .zero-layout-right {
        margin-left: 0;
        margin-right: 0;
        padding-left: 15px;
        padding-right: 15px;
    }

    .register .zero-layout-input,
    .register .zero-layout-left-input,
    .register .zero-layout-right-input {
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
    }

    .register .tnc {
        left: 30%;
        transform: translateX(-50%);
    }
}

.login-page .login-container {
    padding: 0;
}

.login-page .login-wrapper {
    background: #fff;
}

.login-page {
    margin-top: 1.4rem;
    color: #8b8b8a;
}

.login-page .container {
    max-width: 970px;
}

b {
    font-family: "Frutiger LT Std 55 Black";
}

.login-page .pink-color {
    color: #f05983;
}

.login-page .zero-layout,
.login-page .zero-layout-input {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}

.login-page .zero-layout-left,
.login-page .zero-layout-left-input {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
}

.login-page .zero-layout-right,
.login-page .zero-layout-right-input {
    margin-left: 0;
    margin-right: 0;
    padding-right: 0;
}

.login-page input,
.login-page select {
    background: #f5f5f5;
}

.login-page a.button {
    position: relative;
    background-color: #f05983;
    border: 1px solid #f05983;
    border-radius: 0;
    color: #fff;
    padding: 10px 0;
    margin: 10px 0;
    width: 100%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 2px;
    max-width: 13rem !important;
}

.login-page a.button::after {
    position: absolute;
    font-family: "FontAwesome";
    content: "\f054";
    color: #fff;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
}

.login-page h1 {
    color: #434951;
}

.login-page p b {
    color: #434951;
}

.login-page p {
    color: #8b8b8a;
}

.login-page hr {
    border-color: #bfbfbf;
    width: 100%;
}

.login-page button:focus {
    outline: 0;
}

.login-page button:active {
    background-color: #f05983;
    border-color: #f05983;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.login-page section.desc {
    padding: 4rem 0;
}

.login-page .mb-1 {
    margin-bottom: 1rem;
}

.login-page .mb-2 {
    margin-bottom: 2rem;
}

.login-page .mb-3 {
    margin-bottom: 3rem;
}

.login-page section.desc .img {
    padding: 0 3rem;
}

.login-page section.desc .copy {
    padding: 0 3rem;
}

.login-page .login-form {
    padding: 4rem 0;
}

.login-page .pink-color {
    color: #f05983;
}

.login-page .standard-mb {
    margin-bottom: 2rem;
}

.login-page .standard-margin {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.login-page .btn-pink {
    position: relative;
    display: inline-block;
    width: 200px;
    padding: 10px;
    margin-bottom: 30px;
    background-color: #f05984;
    border: 1px solid #f05984;
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
}

.login-page .btn-pink:focus {
    outline: 0;
}

.login-page .btn-pink::after {
    position: absolute;
    font-family: "FontAwesome";
    content: "\f054";
    color: #fff;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
}

@media (max-width: 678px) {
    .login-page section.desc {
        padding: 4rem 1rem;
    }

    .login-page section.desc .img {
        padding: 0 2rem;
    }

    .login-page section.desc .copy {
        padding: 0 1.5rem;
    }

    .login-page .standard-mb {
        margin-bottom: 1rem;
    }
}

@media (max-width: 768px) {
    .login-page .login-form {
        padding: 2rem 0;
    }

    .login-page label.zero-layout,
    .login-page label.zero-layout-left,
    .login-page label.zero-layout-right {
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
    }

    .login-page .zero-layout,
    .login-page .zero-layout-left,
    .login-page .zero-layout-right {
        margin-left: 0;
        margin-right: 0;
        padding-left: 15px;
        padding-right: 15px;
    }

    .login-page .zero-layout-input,
    .login-page .zero-layout-left-input,
    .login-page .zero-layout-right-input {
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
    }
}

.gigya-screen-caption {
    display: none;
}

.op-none {
    opacity: 0;
}

.d-none {
    display: none;
}

.d-block {
    display: block;
}

hr {
    width: 100%;
    height: 0.1rem;
    background: #bfbfbf;
}

.standard-margin {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.gigya-screen .form-group.d-none {
    display: none;
}

.gigya-screen label.birthday-notes {
    width: 100%;
}

.gigya-screen .m-none {
    display: block;
}

.gigya-screen .grey-color {
    color: #8b8b8a !important;
    font-weight: 100;
}

.gigya-screen .red-color, .gigya-screen span.red-color {
    color: red;
}

.gigya-screen .pink-color, .gigya-screen a.pink-color, .gigya-screen a.dn-link {
    color: #f05983;
}

.gigya-screen .gigya-login-form .gigya-layout-row.with-divider>.gigya-layout-cell.with-divider, .gigya-screen .gigya-login-form .gigya-layout-row.with-divider {
    display: none !important;
}

.gigya-screen {
    background-color: #fff !important;
    padding: 0 !important;
}

.gigya-screen, .gigya-screen *, .gigya-screen .form-group .gigya-label-text, .gigya-screen .gigya-label-text {
    color: #8b8b8a;
}

.gigya-screen .gigya-composite-control.gigya-composite-control-multi-choice .gigya-multi-choice-item label {
    font-weight: 100;
}

.gigya-screen .register-social-login #password-row.gigya-layout-row {
    display: none;
}

#gigya-register-screen.gigya-screen.mobile h1, #gigya-register-screen.gigya-screen.mobile h2 {
    font-size: 16px;
}

.gigya-screen .form-control {
    border-color: transparent;
    box-shadow: none;
}

.gigya-screen a.dn-link b {
    font-weight: 100;
}

.gigya-screen .gigya-composite-control-array-widget div.gigya-array-template {
    padding: 0rem 0;
}

.gigya-screen .gigya-composite-control-array-widget div.gigya-array-template .form-group {
    margin-bottom: 3rem;
}

.gigya-screen .gigya-composite-control-array-widget div.gigya-array-template .buttons-wrapper {
    height: 2rem;
}

.gigya-screen .gigya-composite-control-array-widget div.gigya-array-template button.gigya-array-add-btn {
    color: #ffffff;
    background-color: #ef5a84;
    border: 1px solid #ef5a84;
    padding: 0.3rem 0.5rem .3rem 2rem;
    float: right;
    position: relative;
    margin-right: 1rem;
}

.gigya-screen .gigya-composite-control-array-widget div.gigya-array-template button.gigya-array-add-btn::before {
    content: "\f0fe";
    font-family: FontAwesome;
    position: absolute;
    left: 0.5rem;
}
.gigya-screen .gigya-composite-control-array-widget div.gigya-array-template button.gigya-array-remove-btn {
    color: #fff;
    background-color: #dc3545;
    border: 1px solid #dc3545;
    padding: 0.3rem 0.5rem .3rem 2rem;
    float: right;
    position: relative;
    margin-right: 1rem;
}
.gigya-screen .gigya-composite-control-array-widget div.gigya-array-template button.gigya-array-remove-btn::before {
    content: "\f014";
    font-family: FontAwesome;
    position: absolute;
    left: 0.5rem;
}

.gigya-screen .gigya-layout-row.with-two-inputs label.gigya-composite-control.birthday-notes p {
    font-weight: 100;
    font-size: 0.9rem;
}

.gigya-screen .gigya-layout-row.with-two-inputs label.gigya-composite-control.birthday-notes p small {
    font-size: 0.8rem;
}

@media (min-width: 768px) {
    .gigya-screen .form-group {
        margin-bottom: 4rem;
    }
    .gigya-screen .left-g {
        padding-left: 0rem!important;
        padding-right: 1rem!important;
    }
    .gigya-screen .right-g {
        padding-left: 1rem!important;
        padding-right: 0rem!important;
    }
    .gigya-screen .form-group input, .gigya-screen .form-group select {
        width: 100%;
        height: 34px;
        padding: 6px 12px;
        background: #f5f5f5;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
        transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    }
    .gigya-screen input[type="submit"] {
        width: 100%;
        max-width: 16rem;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        background-color: #f05984;
        border: 1px solid #f05984;
        color: #fff;
        text-align: center;
        text-decoration: none;
        font-size: 18px;
        font-weight: 700;
    }
    .gigya-screen input[type="submit"]::after {
        position: absolute;
        font-family: "FontAwesome";
        content: "\f054";
        color: #fff;
        right: 1rem;
        top: 50%;
        transform: translateY(-50%);
    }
    #gigya-register-screen.gigya-screen .gigya-layout-row.with-divider>.gigya-layout-cell.with-divider {
        display: none;
    }
    .gigya-screen .gigya-composite-control.gigya-composite-control-dropdown .gigya-error-msg-active, .gigya-screen .gigya-composite-control.gigya-composite-control-password .gigya-error-msg-active, .gigya-screen .gigya-composite-control.gigya-composite-control-textbox .gigya-error-msg-active {
        float: right;
        width: calc(100% - 9rem);
        padding-bottom: 0.5rem;
    }
    .gigya-screen .gigya-composite-control.gigya-composite-control-dropdown label.gigya-label, .gigya-screen .gigya-composite-control.gigya-composite-control-password label.gigya-label, .gigya-screen .gigya-composite-control.gigya-composite-control-textbox label.gigya-label, .gigya-screen .gigya-layout-row.with-two-inputs .gigya-composite-control.gigya-composite-control-multi-choice label.gigya-label {
        float: left;
        width: 9rem;
        margin: 0;
    }
    .gigya-screen .gigya-composite-control.gigya-composite-control-multi-choice .gigya-multi-choice-item {
        float: left;
        width: auto;
        padding-right: 2rem;
        margin: 0;
        padding-top: 0;
    }
    .gigya-screen .gigya-composite-control.gigya-composite-control-dropdown input, .gigya-screen .gigya-composite-control.gigya-composite-control-password input, .gigya-screen .gigya-composite-control.gigya-composite-control-textbox input, .gigya-screen .gigya-composite-control.gigya-composite-control-dropdown select, .gigya-screen .gigya-composite-control.gigya-composite-control-password select, .gigya-screen .gigya-composite-control.gigya-composite-control-textbox select {
        float: right;
        width: calc(100% - 9rem);
    }
    .gigya-screen .gigya-composite-control.gigya-composite-control-dropdown input, .gigya-screen .gigya-composite-control.gigya-composite-control-dropdown select, .gigya-screen .gigya-composite-control.gigya-composite-control-password input, .gigya-screen .gigya-composite-control.gigya-composite-control-password select, .gigya-screen .gigya-composite-control.gigya-composite-control-textbox input, .gigya-screen .gigya-composite-control.gigya-composite-control-textbox select {
        margin-bottom: 0.5rem;
    }
    .gigya-screen .gigya-layout-row.with-two-inputs label.gigya-composite-control.birthday-notes p {
        float: right;
        width: calc(100% - 9rem);
    }
    .gigya-screen .gigya-composite-control.gigya-composite-control-checkbox {
        width: 100%;
    }
    .gigya-screen .gigya-composite-control.gigya-composite-control-checkbox.width-30 {
        float: left;
        width: 30%;
    }
    .gigya-screen .gigya-composite-control.gigya-composite-control-checkbox.width-40 {
        float: left;
        width: 40%;
    }
}

@media (max-width: 767px) {
    .gigya-screen .left-g, .gigya-screen .right-g {
        padding-left: 0rem!important;
        padding-right: 0rem!important;
    }
    .gigya-screen .gigya-composite-control.gigya-composite-control-multi-choice .gigya-multi-choice-item label {
        width: 90%;
    }
    .gigya-screen .form-group {
        margin-bottom: 0;
    }
    .gigya-screen label.birthday-notes p small {
        left: 0;
    }
    .gigya-screen .gigya-composite-control.gigya-composite-control-multi-choice {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        /* margin-bottom: 1rem; */
        float: left;
    }
    .gigya-screen .gigya-layout-cell .gigya-layout-cell {
        max-width: 100%;
    }
    .gigya-screen.form-group label.gigya-label {
        width: 100% !important;
    }
    .standard-margin {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .d-none {
        display: block;
    }
    .m-none {
        display: none;
    }
    .gigya-screen .form-group.d-none {
        display: block;
    }
    .gigya-screen .m-none, .gigya-screen .form-group.m-none {
        display: none !important;
    }
    .gigya-screen .form-group label.gigya-label {
        width: auto;
    }
    .gigya-screen .gigya-composite-control.gigya-composite-control-dropdown .gigya-error-msg-active, .gigya-screen .gigya-composite-control.gigya-composite-control-password .gigya-error-msg-active, .gigya-screen .gigya-composite-control.gigya-composite-control-textbox .gigya-error-msg-active {
        left: 0;
    }
    .gigya-screen .gigya-composite-control.gigya-composite-control-dropdown, .gigya-screen .gigya-composite-control.gigya-composite-control-password, .gigya-screen .gigya-composite-control.gigya-composite-control-textbox, .gigya-screen .gigya-composite-control.gigya-composite-control-multi-choice .gigya-multi-choice-item, .gigya-screen .gigya-composite-control.gigya-composite-control-dropdown label.gigya-label, .gigya-screen .gigya-composite-control.gigya-composite-control-password label.gigya-label, .gigya-screen .gigya-composite-control.gigya-composite-control-textbox label.gigya-label, .gigya-screen .gigya-layout-row.with-two-inputs .gigya-composite-control.gigya-composite-control-multi-choice label.gigya-label, .gigya-screen .gigya-composite-control.gigya-composite-control-dropdown input, .gigya-screen .gigya-composite-control.gigya-composite-control-password input, .gigya-screen .gigya-composite-control.gigya-composite-control-textbox input, .gigya-screen .gigya-composite-control.gigya-composite-control-dropdown select, .gigya-screen .gigya-composite-control.gigya-composite-control-password select, .gigya-screen .gigya-composite-control.gigya-composite-control-textbox select, .gigya-screen .gigya-composite-control.gigya-composite-control-dropdown .gigya-error-msg-active, .gigya-screen .gigya-composite-control.gigya-composite-control-password .gigya-error-msg-active, .gigya-screen .gigya-composite-control.gigya-composite-control-textbox .gigya-error-msg-active {
        float: left;
        width: 100%;
        left: 0;
    }
    .gigya-screen .gigya-layout-row.with-two-inputs>.gigya-layout-cell+.gigya-layout-cell>.gigya-composite-control {
        padding-left: 0;
    }

    .gigya-screen .gigya-composite-control-array-widget div.gigya-array-template button.gigya-array-add-btn,
        .gigya-screen .gigya-composite-control-array-widget div.gigya-array-template button.gigya-array-remove-btn {
            margin-right: 0;
        }
}